PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/taskplanet?retryWrites=true&w=majority
JWT_SECRET=2054a7c8db0be6c2b18973b069d30005a74e5088f117dfbd7c458a2e2cd1e592
NODE_ENV=development
